@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-blue: #007dff;
  --footer-blue: #00aff0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .customRounded {
    border-color: var(--header-blue);
    color: var(--header-blue);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 0.50rem;
}

.customBlueSpanHeader {
  color: var(--header-blue)
}

.customInformativeButton {
  @apply bg-transparent text-sm text-white font-semibold py-1 px-4 border border-2 rounded-full;
  height: 4.5rem;
  background-color: var(--header-blue);
}

.customInformativeImage {
  @apply flex justify-end w-6/12 relative;
  height: 38rem;
  width: 44rem;
}

.customInformativeSeloImage {
  @apply ml-4 relative;
  height: 4.5rem;
  width: 12rem;
}

.customFooterToFourColumn {
  @apply flex flex-col px-10;
}

.customFooterTitle {
  @apply mb-6 font-medium text-xl;
}

.customFooterSpan {
  @apply py-2 text-neutral-400;
}

.customFooterImage {
  @apply flex justify-center items-center bg-gray-100 w-10 h-10 mx-2 rounded-full;
}

.customFooterBlue {
  color: var(--footer-blue);
}