@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .customRounded {
    @apply border-header-blue text-header-blue;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 0.50rem;
}

.customBlueSpanHeader {
  @apply text-header-blue;
}

.customLibraryCheckboxLabel {
  @apply select-none cursor-pointer rounded-full border border-black py-2 px-6 
    transition-colors duration-200 ease-in-out 
    hover:border-header-blue hover:text-header-blue
    peer-checked:bg-header-blue peer-checked:text-white peer-checked:border-header-blue; 
}

.customLibratyPaginateButton {
  @apply px-4 py-1 text-2xl font-medium hover:border-header-blue hover:text-header-blue;
}

.customLibraryListCard {
  @apply my-2 rounded-lg mx-3 shadow-xl hover:text-header-blue;
}

.customInformativeButton {
  @apply bg-transparent text-sm text-white font-semibold py-1 px-4 border border-2 bg-header-blue rounded-full;
  height: 4.5rem;
}

.customInformativeImage {
  @apply flex justify-end w-6/12 relative;
  height: 38rem;
  width: 44rem;
}

.customInformativeSeloImage {
  @apply ml-4 relative;
  height: 4.5rem;
  width: 12rem;
}

.customFooterToFourColumn {
  @apply flex flex-col px-10;
}

.customFooterTitle {
  @apply mb-6 font-medium text-xl;
}

.customFooterSpan {
  @apply py-2 text-neutral-400;
}

.customFooterImage {
  @apply flex justify-center items-center bg-gray-100 w-10 h-10 mx-2 rounded-full;
}

.customFooterBlue {
  @apply text-footer-blue;
}